<!-- Hero Section -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- first column -->
    <div class="col-md-5" >
      <div class="search-box p-4 shadow rounded">
        <h2 class="text-center mb-4">
          <i class="fa-solid fa-ticket slant me-2"></i>Book Your Bus Ticket
        </h2>

        <form class="">
          <div class="row g-3">
            <div class="col-12">
              <app-location-dropdown
                label="From location"
                icon="fa-map-marker-alt"
                (selectedValueChange)="handleOnChildFromLocation($event)"
                [selectedValue]="dropDownFromLocationValue">
              </app-location-dropdown>
            </div>

            <div class="col-12">
              <app-location-dropdown
                label="To location"
                icon="fa-map-marker-alt"
                (selectedValueChange)="handleOnChildToLocation($event)"
                [selectedValue]="dropDownToLocationValue">
              </app-location-dropdown>
            </div>

            <div class="col-12" >
              <app-schedule-date-picker
                label="Date of journey:"
                icon="fa-calendar-check"
                (selectedDateChange)="handleOnChildScheduleDate($event)"
                [selectedDate]="scheduleDateValue">
              </app-schedule-date-picker>
            </div>

            <div class="col-12 text-center">
              <button type="button" class="btn btn-primary btn-lg w-100" (click)="searchBus()">
                <i class="fa fa-search-plus me-2"></i>Search buses
              </button>
            </div>

          </div>
        </form>

      </div><!--/search-box p-4 shadow rounded-->
    </div><!--/col-md-5-->

    <!-- 2nd column -->
    <div class="col-md-7" >
      <div class="available-routes p-3 shadow rounded scrollable-div">
        <h6 class="mb-3 text-center">
          <i class="fa fa-bus me-2" ></i>
          Available routes
        </h6>
        @if (busScheduleSummaryList.length > 0) {
          @for (busScheduleSummary of busScheduleSummaryList; track $index) {

            <div class="card mb-3"
              [routerLink]="['/search-result']"
              [queryParams]="{
                fromId :busScheduleSummary.location_from_id,
                toId : busScheduleSummary.location_to_id,
                schedDate : busScheduleSummary.schedule_date
              }">
              <div class="card-body p-2">
                <h6 class="mb-1" >
                  <i class="fas fa-location-arrow me-1 text-primary"></i>
                    {{busScheduleSummary.from_bus_location}}
                  <i class="fa fa-arrow-right mx-2"></i>
                    {{busScheduleSummary.to_bus_location}}
                </h6>

                <small class="text-muted d-block mb-1">
                  <i class="fa fa-calendar me-1"></i>
                  {{ formatDate(busScheduleSummary.schedule_date) }}
                </small>

                <span class="badge bg-info text-dark">
                  {{busScheduleSummary.bus_count}} bus available
                </span>
              </div>
            </div>
          }
        } @else {
          <p class="text-muted">No Bus Schedules available...</p>
        }

      </div>
    </div><!--/col-md-7-->
  </div><!--/row justify-content-center-->
</div><!--/container mt-5-->

