<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-bus me-2"></i>BusBooking
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- normal link-->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/search" routerLinkActive="active">Home</a>
        </li> -->

        <!-- ✅ Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Schedules
          </a>

          <ul class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item"
                [routerLink]="['/search-result']"
                [queryParams]="{fromId: 0, toId: 0, schedDate: ''}">
                View Schedules
              </a>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item" routerLink="/bus-scheduling">
                Manage Schedules
              </a>
            </li>
          </ul>
        </li>

        <!-- ✅ Another Dropdown -->
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="bookingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Bookings
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bookingDropdown">
            <li>
              <a class="dropdown-item" routerLink="/bookings/history" routerLinkActive="active">
                Booking History
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/bookings/new" routerLinkActive="active">
                New Booking
              </a>
            </li>
          </ul>
        </li> -->


        <!-- login - commented for the meantime -->
        <!-- <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#authModal">
            <i class="fa fa-arrow-right me-1"></i>Login
          </a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
