<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-bus me-2"></i>BusBooking
    </a>

    <!-- Burger toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <!-- Schedules dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false"
             (click)="$event.preventDefault()">
            Schedules
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item"
                 [routerLink]="['/search-result']"
                 [queryParams]="{fromId: 0, toId: 0, schedDate: ''}">
                View Schedules
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" routerLink="/bus-scheduling">
                Manage Schedules
              </a>
            </li>
          </ul>
        </li>

        <!-- Additional dropdown example (optional) -->
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             id="bookingDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false"
             (click)="$event.preventDefault()">
            Bookings
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bookingDropdown">
            <li>
              <a class="dropdown-item" routerLink="/bookings/history">Booking History</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/bookings/new">New Booking</a>
            </li>
          </ul>
        </li>
        -->

      </ul>
    </div>
  </div>
</nav>
<app-bootstrap-loader></app-bootstrap-loader>
<router-outlet></router-outlet>
